body {
    font-family: sans-serif;
    min-width: 300px;
}

nav {
    position: fixed;
    z-index:999;
    line-height: 43px;
    width:100%; 
    top: 2px;
    right: 0;
    left:0;
    background-color: #5b5b5b;    
    opacity: 0.8;
    padding: 0 5px;
    overflow: hidden;
}
nav a {
    color: #ddd;
    display: inline-block;
    width: 120px;
    text-align: center;
    top:0;
    bottom: 0;
}
nav a:hover {
    background-color: #2e2e2e;
}
nav .left-buttons {    
    display: inline-block;
}
nav .right-buttons {
    display: block;
    margin-right: 125px;
    float: right;
}

nav .right-buttons>ul {
    cursor: pointer;
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 2px;
    background-color: #5b5b5b; 
    margin: 0;
    padding-left: 25px;
    width: 80px;
}
nav .right-buttons>ul>label{
    color: #ddd;
    display: inline-block;
    width: 120px;
    top:0;
    bottom: 0;
    text-decoration: underline;
}
nav .right-buttons>ul>li {
    list-style-type: none;
    width: 80px;
}
nav .right-buttons>ul>li>a {
    text-align: center;
    width: 105px;
    margin-left: -25px;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 45px;
    background-color: #7d7d7d;
    text-align: right;
    line-height: 45px;
    padding: 0 10px;
}

.common-base-warn {
    background-color: #f48bb5;
}
.common-base-ok {
    background-color: #6d0;
}

.common-message {
    position: fixed;
    z-index:1000;
    line-height: 43px;
    width:100%; 
    top: 2px;
    right: 0;
    left:0;
    opacity: 0.6;
    overflow: hidden;  
    text-align: center;
    font-weight: bold;
}

#main-content {
    overflow: auto;
    position: absolute;
    top:45px;
    right: 10px;
    bottom: 45px;
    left:5px;
    /*    border: solid black 1px; */
}

.inside-page {
    display: block;
    margin: 8px 48px;
    border: 1px solid #7d7d7d;
    border-radius: 8px;  
}
.item-group {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 5px;
    padding: 8px;
}
.item-group>input {
    margin-right: 8px;
    width: 200px;
}
.item-group>input.number-input {
    margin-right: 8px;
    width: 80px;
    text-align: right;
}
.item-group>label {
    display: inline-block;
    width: 150px;
    line-height: 28px;
}
.item-group >label.page-mark {
    margin: 0 5px 0 -2px;
    width: auto;
}
.item-group>select {
    margin-right: 8px;
    margin-left: 20px;
    width: 120px;
}
.button-group {
    margin: 8px 48px;
    padding: 8px;
    display: block;
    text-align: right;
}
.button-group>a {
    cursor: pointer;
    margin: 0 10px;
    text-decoration: none;
    color: #06c;
}
.button-group>a:hover {
    text-decoration: underline;
}
.heatmap-container {
    /*border: 1px solid #8a0;
    border-radius: 10px;
    padding: 10px;*/
    display: inline-block;
    margin: 28px;
    -webkit-box-shadow: 6px 6px 10px rgba(255,50,0,0.5),
                        10px 10px 20px #270;
    box-shadow: 6px 6px 10px rgba(255,0,0,0.75),
                10px 10px 20px #270;
}