body {
    font-family: Arial;
    /*min-width: 666px;*/
    overflow-y: hidden;
}
nav i {
    margin-right: 0.3125em;
}
nav img {
    width: 1.8em;
}
.form-control {
    display: inline-block;
}
.dropdown-menu a {
    cursor: pointer;
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2.8125em;
    background-color: #7d7d7d;
    text-align: right;
    line-height: 2.8125em;
    padding: 0 0.625em;
}
.block {
    display: block !important;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(102,102,102,0.6);
    display: none;

}
.overlay > section {
    margin: 2em auto;
    width: 60%;
    background-color: #fff;
    border: 0.125em solid #ccc;
    border-radius: 0.25em;
    padding: 0.5em;
    max-height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}
.common-message {
    position: fixed;
    z-index:100;
    width:40%; 
    margin: 0 auto;
    /*top: 0;*/
    right: 0;
    bottom: 0;
    left:0;
    opacity: 0.8;
    overflow: hidden;  
    text-align: center;
    font-weight: bold;
    border-radius: 0.25em;
    margin-bottom: 0;
    line-height: 0.5em;
}

.common-info-panel {
    position: fixed;
    z-index: 50;
    top: 3.8em;
    right: -0.0625em;
}
.common-info-panel .panel-heading {
    padding: 0.3em 0.4em;
}
.common-info-panel .panel-body {
    padding: 0.5em;
}
.common-panel-sm-badge {
    position: absolute;
    background-color: #d9edf7;
    width: 1.5625em;
    text-align: center;
    margin-left: -1.5625em;
    margin-top: 2.375em;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    height: 3em;
    padding-top: 0.625em;
    cursor: pointer;
    color: #31708f;
}

#countdown {
    z-index: 30;
    overflow: hidden;
    white-space: nowrap;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    bottom: 1.11em;
    padding-top: 0.25em;
    /*margin-top: -2.43em;*/
    transition: background-color 1s ease-in, margin-top 1s ease-in;
}

main {
    overflow: auto;
    position: relative;
    top:0.5em;
    margin-top: -1.5em;
    padding-top: 1.5em;
    padding-bottom: 2.5em;
    /*border: solid black 0.0625em; */
}
.item-group {
    display: inline-block;
    border: 0.0625em solid #ddd;
    border-radius: 0.1875em;
    margin: 0.3125em;
    padding: 0.5em;
    transition: background-color 1s ease-in, color 1s ease-in;
}
.item-group>input {
    width: 12.5em;
}
.item-group>input.number-input {
    margin-right: 0.5em;
    width: 5em;
    text-align: right;
}
.item-group>span,
.item-group>label {
    margin-top: 0.5em;
    margin-left: 0.2em;
    width: 9em;
    white-space: nowrap;
    padding-right: 0.8em;

}
.item-group >label.page-mark {
    margin: 0 0.3125em 0 -0.125em;
    width: auto;
}
.item-group>select {
    margin-right: 0.5em;
    width: 9.375em;
}

.modal-body .item-group span.number-range {
    text-align: right;
    margin-right: 0.625em;
    display: inline-block;
    width: 2.5em;
}

.button-group {
    margin: 0.1875em 0.375em;
    display: block;
    text-align: right;
}
.control-group {
    margin: 0.5em 3em;
    padding: 0.5em;
    display: block;
    text-align: right;
}
.control-group>a {
    cursor: pointer;
    margin: 0 0.625em;
    text-decoration: none;
    color: #06c;
}
.control-group>a:hover {
    text-decoration: underline;
}
.heatmap-container {
    display: inline-block;
    margin: 1.75em;
    -webkit-box-shadow: 0.375em 0.375em 0.625em rgba(255,50,0,0.5),
                        0.625em 0.625em 1.25em #270;
    box-shadow: 0.375em 0.375em 0.625em rgba(255,0,0,0.75),
                0.625em 0.625em 1.25em #270;
}
.scale-controller {
    box-sizing: border-box;
    clear: none;
    display: block;
    padding: 0.8em;
    text-align: right;
}
.scale-controller>span,
.scale-controller>label {
    margin-top: 0.375em;
    margin-right: 0.625em;
    white-space: nowrap;
}
.scale-controller>div {
    display: inline-block;
    margin-right: 1.5em;
}
.scale-controller>div>span {
    color: #f00;
}
#scale-content hr {
    margin-top: 0;
}
.alert-record {
    display: block;
    padding: 0.5em;
}
#alert-log-container {
    margin-top: 1em;
}
#set-content ul {
    position: fixed;
    display: inline-block;
    vertical-align: top;
    padding: 0 0;
    line-height: 2.2;
    text-align: right;
    border-right-color: #337ab7;
    border-right-width: 0.2em;
    border-right-style: solid;
    color:#fff;
    font-size: 1.3em;
    float: left;
}
#set-content ul > li {
    list-style: none;
    padding: 0 0.5em;
    cursor: pointer;
    background-color: #337ab7;
    border-left: 0.05em solid #2e6da4;
    border-top: 0.05em solid #2e6da4;
    border-bottom: 0.05em solid #2e6da4;
    border-top-left-radius: 0.15em;
    border-bottom-left-radius: 0.15em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0.2em 0.3em 0.12em #2e8ec4 inset;
    -moz-box-shadow: 0.2em 0.3em 0.12em #2e8ec4 inset;
    box-shadow: 0.2em 0.3em 0.12em #2e8ec4 inset;
}
#set-content ul > li > i {
    margin: 0 0.25em;
}
#set-content ul > li:hover {
    background-color: #2e8ec4;
    /*text-decoration: underline;*/
}
#set-content ul > li.selected {
    background-color: #2aabd2;
    border-left: 0.05em solid #2e6da4;
    border-top: 0.05em solid #2e6da4;
    border-bottom: 0.05em solid #2e6da4;
    border-top-left-radius: 0.15em;
    border-bottom-left-radius: 0.15em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0.2em 0.3em 0.12em #2e8ec4 inset;
    -moz-box-shadow: 0.2em 0.3em 0.12em #2e8ec4 inset;
    box-shadow: 0.2em 0.3em 0.12em #2e8ec4 inset;
}
#set-content article {
    vertical-align: top;
    /*border: 1px solid #000;*/
    display: none;
}
#set-main-container {
    margin-top: 0.2em;
    border-top: 0.15em solid #eee;
    padding: 0.5em 2em 1em 1em;
}
#set-main-container > .item-group > hr {
    margin-top: 0.3em;
    margin-bottom: 0.3em; 
}
.set-item-group {
    display: block;
    /*border: 0.0625em solid #ddd;
    border-radius: 0.1875em;*/
    margin: 0.3125em;
    padding: 0.5em;
}
.set-item-group > span,
.set-item-group > label {
    margin-top: 0.5em;
    width: 11em;
    white-space: nowrap;
    padding-right: 0.8em;
}
.set-item-group > input.number-input {
    margin-right: 0.5em;
    width: 3.8em;
    text-align: right;
}
.set-item-group > a {
    width: 2.5em;
}

#heatmap-content .heatmap-datainfo {
    display: inline-block;
    position: absolute;
    right: 0.125em;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.6;
    max-width: 30%;
    max-height: 60%;
    overflow: auto;
    padding: 0.5em;
}
#edgeCav {
    position: absolute;
    top: 3.3em;
}

